
$black: #282a36;
$white: #f8f8f2;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink:   #ff79c6;
$purple:   #bd93f9;
$red:   #ff5555;
$yellow:   #f1fa8c;
$gutter: 15px;
$devIcons: github, npm, web;

@mixin breakpointSetter($properties, $values) {
  @each $prop in $properties {
    @each $val in $values {
      #{$prop}: $val;
    }
  }
}

@mixin before-pseudo-element($icon, $size) {
  &::before {
    content: url(#{$icon}.svg);
    width: #{$size}px;
    height: #{$size}px;
    margin-right: 5px;
  }
}

@mixin list-icon-generator($icons, $size) {
  li {
    display: flex;
    line-height: #{$size}px;

    @if length($icons) > 1 {

      $i: 1;
      @each $icon in $icons {
        &:nth-child(#{$i}) {
          @include before-pseudo-element($icon, $size);
        }
        $i: $i + 1;
      }
    } @else {
      @include before-pseudo-element($icons, $size);
    }
  }
}

.mobile-padding {
  padding: ($gutter * 2) $gutter;
}

* {
  padding: 0;
  margin: 0;
}

.is-hidden {
  display: none !important;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.theme {
  background: $black;
  color: $white;
  padding: $gutter;
}

// pre.language-markup {
//   display: none;
// }

.resume {
  max-width: 1200px;
  min-width: 360px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &-title {
      font-family: 'BioRhyme Expanded', serif;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 2rem;
      margin-top: $gutter;
      
      & span[class*=group]:not(:last-of-type) {
        margin-right: 15px;
      }

      & .group-0 {
        color: $green;
      }
      & .group-1 {
        color: $green;
      }
      & .group-2 {
        color: $orange;
        text-decoration: underline;
        text-underline-position: under;
      }
    }

    &-button {
      padding: 20px;
      width: 90%;
      display: block;
      margin: 0 auto;
      background: darken($red, 5%);
      color: $white;
      border: inset 1px rgba($white, .7);
      border-radius: 4px;
      font-size: 1.5rem;
      font-weight: 300;
      text-shadow: -1px 1px 1px $black;

      &:hover {
        cursor: pointer;
        background: darken($red, 10%);
      }
      &:focus {
        outline: $red;
      }
      &:active {
        background: darken($red, 25%);
        border: 0;
      }
    }
  }

  &__content {
    @include breakpointSetter(padding, ($gutter * 2) $gutter);
  }

  &__aside {
    @include breakpointSetter(margin, ($gutter * 2) $gutter);
    
    &-list {
      list-style: none;

      &.dev-icons {

        @include list-icon-generator($devIcons, 25);
      }

      &.me-icons {

        @include list-icon-generator(cube, 20);        
      }
    }
  }

}
